[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
[submodule "dotpryrc"]
	path = dotpryrc
	url = git@github.com:vyorkin/dotpryrc.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "iterm/themes1"]
	path = iterm/themes1
	url = https://github.com/baskerville/iTerm-2-Color-Themes.git
[submodule "iterm/themes2"]
	path = iterm/themes2
	url = https://github.com/JamieMason/All-iTerm-Colors.git
[submodule "iterm/themes3"]
	path = iterm/themes3
	url = https://github.com/effkay/iTerm-argonaut.git
[submodule "iterm/themes4"]
	path = iterm/themes4
	url = https://github.com/djoyner/iTerm2-wombat.git
[submodule "iterm/themes5"]
	path = iterm/themes5
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "betty"]
	path = betty
	url = https://github.com/pickhardt/betty
